* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* background */
body {
  background: linear-gradient(
      to bottom,
      rgba(235, 163, 111, 0.3) 0%,
      rgba(255, 255, 255, 0) 7%
    ),
    #160200;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden; /* 👈 prevent horizontal scrollbar from tabs/shadow */
}

/* App fills the screen */
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
